<div class="card" style="width: 40rem;" >
    <div class="card-body">
        <h5 class="card-title">Registrarse</h5>
        <form >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre completo</label>
              <input type="text" class="form-control" [(ngModel)]='name' [ngModelOptions]="{standalone: true}"  >
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Género</label>
                <input type="text" class="form-control"  [(ngModel)]='gender' [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text"  class="form-control" [(ngModel)]='username'  [ngModelOptions]="{standalone: true}"  >
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" [(ngModel)]='email'  [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" [(ngModel)]='password'  [ngModelOptions]="{standalone: true}" >
            </div>
            <a href="/login" class="card-link">¿Ya tienes una cuenta? Ingresa aquí.</a>
            <br>
            <br>
            <button type="submit" class="btn" style="background-color: #9d5cd1;"  (click)="onSubmit()" >Registrarse</button>
            
          </form>
    </div>
  </div>