<div class="float-end">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    
    <button type="button" class="btn btn-success" (click)="regresar()">Regresar</button>
    <button type="button" class="btn btn-danger"(click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</div>

<div class="mb-3">
    <label for="formFile" class="form-label"><b>Cargar usuarios</b></label>
    <p>
    
        <input class="boton" type="file" name="archivosubido">
    
        <input type="submit" value="Enviar datos">
    
      </p>
  </div>
  <div class="mb-2">
    <label for="formFile" class="form-label"><b>Cargar Publicaciones</b></label>
    <p>
    
        <input class="boton" type="file" name="archivosubido">
    
        <input type="submit" value="Enviar datos">
    
      </p>
  </div>


  
