.mb-3 {
    margin: 100px auto; 
    float: none; 
    margin-bottom: 10px; 
    margin-left: 500px;
}
.boton{
    width: 155px;
}
.mb-2 {
    float: none; 
    margin-bottom: 10px; 
    margin-left: 500px;
}